ul,
li,
ol {
  margin: 0;
  padding: 0;
  padding-left: 0;
  list-style-type: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  margin: 0;
  border: none;
  background: none;
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
