@mixin init-font {
  font-family: Rubik;
  font-weight: normal;
  font-size: 15px;
  color: #4A4D5C;
}

@mixin init-font-raleway {
  font-family: Raleway;
}

@mixin mobile {
  @media only screen and (max-width: $mobile) {
    @content;
  }
}

@mixin init-title($color: #222329, $size: 32px, $weight: 500, $height: 35px) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  color: $color;
}

@mixin tablet {
  @media only screen and (max-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (max-width: $desktop) {
    @content;
  }
}

@mixin widescreen {
  @media only screen and (max-width: $widescreen) {
    @content;
  }
}

@mixin md {
  @media only screen and (max-width: $md) {
    @content;
  }
}

@mixin sm {
  @media only screen and (max-width: $sm) {
    @content;
  }
}

@mixin xs {
  @media only screen and (max-width: $xs) {
    @content;
  }
}
