// colors
$color-red: #ff0000;
$color-graphite-gray: #4A4D5C;
$color-manatee: #8FA5B0;
$color-graphite-gray:#4A4D5C;


/*table size */
$smallest: 10px;
$xxxSmall:11px;
$xxSmall: 12px;
$xSmall: 13px;
$small: 14px;
$xMedium:15px;
$medium:16px;
$large: 18px;
$xLarge:20px;
$xxLarge: 24px;
$xxxLarge: 32px;
$x4Large: 40px;
$largest: 44px;

/* entry points */
$smallScreen: 479px;
$tablet: 600px;
$mobile: 767px;
$desktop: 1024px;
$widescreen:1200px;
$xs: 600px - 1;
$sm: 960px - 1;
$md: 1264px - 1;
