// colors
$color-red: red;

/*table size */
$smallest: 10px;
$xxxSmall:11px;
$xxSmall: 12px;
$xSmall: 13px;
$small: 14px;
$xMedium:15px;
$medium:16px;
$large: 18px;
$xLarge:20px;
$xxLarge: 24px;
$xxxLarge: 32px;
$x4Large: 40px;
$largest: 44px;