// pagination-bar
$pagination-item-height: 36px;
$pagination-item-min-width: 36px;
$pagination-border-radius: 2px;
$pagination-more-height: 34px;
$pagination-more-width: 34px;
$pagination-item-margin: 6px;
$pagination-navigation-height: 36px;
$pagination-navigation-width: 36px;
$pagination-navigation-margin: 24px;

// v-expansion-panel
$expansion-panel-active-header-min-height: 0;
$expansion-panel-header-min-height: 0;
$expansion-panel-header-padding: 0 20px 0 20px !important;
$expansion-panel-content-padding: 0 20px 0 20px;
